    <!-- container -->
    <div class="container">
        <div class="page-header">
            <h2>Loading...</h2>
        </div>

        <!-- Placeholder for rendering react componenets -->
        <div id="app"></div>
    </div>
    <!-- /container -->